<h1>Artist Form</h1>

<%= form_for(@artist) do |f| %>
<p>My artist name</p>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
<p>My artist bio</p>
  <%= f.label :bio %><br>
  <%= f.text_area :bio %><br>

  <%= f.submit %>

<% end %>